<table class="table table-striped" id="modal_id">
  <tbody>
      <tr>
        <td>
          <%='Hiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii'%>
          <%#=twitter_client.user(handle)%>
          <%#=link_to "#{tweet.user.name} @#{tweet.user.screen_name}", home_twitters_path(handle: tweet.user.screen_name)%><%#= "  #{tweet.created_at.strftime('%B %d, %Y')}"%>
          <br/>
          <%#= auto_link(render_with_hashtags(tweet.text)).html_safe%>
          <br/>
          <%#=image_tag(tweet.media[0]["media_url"] ,class: "thumbnail img-responsive") if(tweet.media.present?)%> 
        </td>       
      </tr>
  </tbody>
</table>